<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879318838128-khcqok89ss6q1a56bmhirhmn22hpunsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879318838128-khcqok89ss6q1a56bmhirhmn22hpunsv</string>
	<key>API_KEY</key>
	<string>AIzaSyA70ddQIAzoycNhtD0tm4Y_4x0yRhtTlps</string>
	<key>GCM_SENDER_ID</key>
	<string>879318838128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuzannagarstecka.najlepszaRestauracja</string>
	<key>PROJECT_ID</key>
	<string>lokal-torun-909</string>
	<key>STORAGE_BUCKET</key>
	<string>lokal-torun-909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879318838128:ios:5d29cdba02c37500df7db5</string>
</dict>
</plist>